PORT=4300
JWT_SECRET=change-me

CLOUDINARY_CLOUD_NAME=b4rvuq0u
CLOUDINARY_API_KEY=731899693157198
CLOUDINARY_API_SECRET=0aJzDML1tG1pg4R3vgl2LUa9tH0

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=rescued_fur_world
DB_SSL=false
